.text_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #10c9c3;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.text_block .inner_text{
    padding-top: 181px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700; 
}

.text_block .author_name{
    padding-bottom: 179px;
    font-size: 12px;
    font-weight: 500;
}